#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
php:
  date.timezone: Europe/Prague

application:
	errorPresenter: Error
	scanDirs: false
	mapping:
		*: Webby\Presenter\*Presenter

session:
    debugger: true

latte:
    macros:
        - Webby\Latte\Macros

unimapper:
    adapters:
        Webby: @webbyAdapter
    cache: false
    convention:
        entity: Webby\Model\Entity\*
        repository: Webby\Model\Repository\*Repository

services:
    pageRepository: Webby\Model\Repository\PageRepository
    themeRepository: Webby\Model\Repository\ThemeRepository
    webbyAdapter: Webby\Model\Adapter(%contentDir%)
    router: Webby\Routing\Route::createRouter

extensions:
    unimapper: UniMapper\Nette\Extension
    system: Webby\Extensions\System
    menus: Webby\Extensions\Menus

system:
    assetsDir: %wwwDir%/assets
    pagesDir: %contentDir%/pages

menus:
    items: []

parameters:
    contentDir: %appDir%/../content

includes:
    - ../content/settings.neon