application:
	errorPresenter: Error
	scanDirs: false
	mapping:
		*: Webby\Presenter\*Presenter

session:
    debugger: true
    autoStart: true

latte:
    macros:
        - Webby\Latte\Macros

services:
    router: Webby\Routing\Route::createRouter

extensions:
    system: Webby\Extensions\System

system:
    assets:
        dir: %wwwDir%/assets
        mediaDir:
    theme:
        dir: %appDir%/../content/themes
    pages:
        dir: %appDir%/../content/pages
        error: