
{var $currentTheme = $container->getService('system.theme')->getCurrent()}
{ifset $webby->page['theme'][$currentTheme]}
    {var $page = $container->getService('system.theme')->getPage($webby->page['theme'][$currentTheme])}
{else}
    {var $page = []}
{/ifset}
{include $webby->templateDir . '/template.latte', sections => $page}